body {
    /* Prevent the user selecting text in the example */
    user-select: none;
  }
  
  .dropzone {
    width: 220px;
    height: 220px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
  }
  
img{
    width: 150px;
}
  
